<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.summer.testdemo">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".service.ServiceActivity"></activity>
        <activity android:name=".thisandsuper.ThisAndSuperActivity" />
        <activity android:name=".sqlite2.MySQLiteActivity" />
        <activity android:name=".sqlite.SqlLiteActivity" />
        <activity android:name=".broadcastreceiver.BroadcastReceiverActivity" />
        <activity android:name=".mvvm.MvvmActivity" />
        <activity android:name=".Dagger2.activity.Dagger22Activity" />
        <activity android:name=".Dagger2.activity.Dagger2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcastreceiver.Demo1Receiver">
            <intent-filter>
                <action android:name="BC_one" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.Demo1Receiver2">
            <intent-filter>
                <action android:name="BC_one" />
            </intent-filter>
        </receiver>
    </application>

</manifest>